/* Resets */
body {
  background-color: #f1f1f1;
  font-family: "PP Neue Montreal Book";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* fonts */
@font-face {
  font-family: "PP Neue Montreal Bold";
  src: url(/fonts/PPNeueMontreal-Bold.otf);
}
@font-face {
  font-family: "PP Neue Montreal Book";
  src: url(/fonts/PPNeueMontreal-Book.otf);
}
@font-face {
  font-family: "PP Neue Montreal Italic";
  src: url(/fonts/PPNeueMontreal-Italic.otf);
}
@font-face {
  font-family: "PP Neue Montreal Medium";
  src: url(/fonts/PPNeueMontreal-Medium.otf);
}
@font-face {
  font-family: "PP Neue Montreal SemiBoldItalic";
  src: url(/fonts/PPNeueMontreal-SemiBolditalic.otf);
}
@font-face {
  font-family: "PP Neue Montreal Thin";
  src: url(/fonts//PPNeueMontreal-Thin.otf);
}
